.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    top: 100px;
    position: relative;
}

.image {
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carts {
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}